<%- include("./partials/header") %>


<!-- <form class="" action="/register" method="POST">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
  <button>Sign Up</button>
</form> -->

<div class="container">
  <div class="row">
    <div class="text-center col-lg-12">
      <h1 class="">New User Registration</h1>
    </div>
    <div class="w-50 mb-3 mt-3 ml-auto mr-auto">
      <form class="" action="/register" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="username" placeholder="username" value="">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="password" value="">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </div>
      </form>
      <a class="btn btn-sm btn-secondary" href="/photos">Go Back</a>
    </div>
  </div>
</div>


<%- include("./partials/footer") %>
