html {
  height: 100%;
}
#landing-hr {
  border-color: white;
  max-width: 300px;
}
body {
  background-color: black;
  background-image: url(/img/camera_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#landing-body {
  background-color: black;
  background-image: url(/img/photographer.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#landing-header {
  margin-top: 30vh;
}

.card {
  border-style: none;
}

.comment-card {
  border-style: solid;
}

/* star rating selection */
.star{
  color: #0275d8;
  font-size: 3.0rem;
  padding: 0 0rem; /* space out the stars */
}
.star::before{
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605';
  color: #0275d8;
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605';
}

/* star rating display */
.stardisplay{
  color: #0275d8;
  font-size: 1.2rem;
  padding: 0; /* space out the stars */
  line-height: 0rem;
}
.stardisplay::before{
  content: '\2606';
}
.stardisplay.rated::before{
  /* the :hover should come first */
  content: '\2605';
}
